<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('../partials/navigation') %>
    <div class="container" style="padding-top: 20px;">
      <div class="card">
        <div class="card-body">
          <a href="" class="btn btn-info">
            <span class="fas fa-plus"></span> Add
          </a>
          <div id="showAdd" class="card" style="background-color: #d3d3d3;">
            <div class="card-body">
              <form class="form-inline" action="/data/add" method="POST">
                <input id="data-id" type="hidden" />
                <div class="form-group mx-sm-3 mb-2">
                  <label style="padding-right: 10px;">Letter</label>
                  <input type="text" class="form-control" placeholder="A" />
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <label style="padding-right: 10px;">Frequency</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="0.0000"
                  />
                </div>
                <button type="submit" class="btn btn-primary mb-2">
                  Save
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://kit.fontawesome.com/a444a4f1de.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#showAdd').hide();
        $('#showAdd').click(function() {
          $('#showAdd').show();
        });
      });
    </script>
  </body>
</html>
