<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('../partials/navigation') %>
    <div class="container" style="padding-top: 20px;">
      <button type="button" id="button-add" class="btn btn-info">
        <span class="fas fa-plus"></span> add
      </button>
      <br />
      <br />
      <div id="show-add" class="card">
        <div class="card-body">
          <div class="card" style="background-color: #d3d3d3;">
            <div class="card-body">
              <form class="form-inline">
                <div class="form-group mx-sm-1 mb-1">
                  <input type="hidden" id="_id" />
                  <label style="padding-right: 10px;">Title</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="title of map"
                    id="title"
                  />
                </div>
                <div class="form-group mx-sm-1 mb-1">
                  <label style="padding-right: 10px;">Latitude</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="0.0000"
                    id="latitude"
                  />
                </div>
                <div class="form-group mx-sm-1 mb-1">
                  <label style="padding-right: 10px;">Longitude</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="0.0000"
                    id="longitude"
                  />
                </div>
                <button
                  id="add-data"
                  type="button"
                  class="btn btn-primary mb-1"
                >
                  <i class="fas fa-save"></i>
                  save
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <br />
      <h2>Search</h2>
      <div class="card">
        <div class="card-body">
          <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
              <label style="padding-right: 10px;">Title</label>
              <input
                type="text"
                class="form-control"
                placeholder="title..."
                id="find-title"
              />
            </div>
          </form>
        </div>
      </div>
      <table class="table table-striped" id="table-data">
        <thead>
          <th>#</th>
          <th>Title</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Action</th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <script src="https://kit.fontawesome.com/a444a4f1de.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      const API_URL = 'http://localhost:4000/api/maps';
      const token = '<%= token %>';

      const listData = data => {
        let list = '';
        data.forEach((item, i) => {
          list += `<tr>
            <td> ${i + 1} </td>
            <td> ${item.title} </td>
            <td> ${item.lat} </td>
            <td> ${item.lng} </td>
            <td>
              <button
                class="btn btn-success edit-button"
                data-id="${item._id}"
                data-title="${item.title}"
                data-latitude="${item.lat}"
                data-longitude="${item.lng}"
              >
                <i class="fas fa-pencil-alt"></i> update
              </button>
              <button
                class="btn btn-danger delete-button"
                data-id=${item._id}
              >
                <i class="fas fa-trash-alt"></i> delete
              </button>
            </td>
          </tr>`;
        });
        $('#table-data tbody').html(list);
      };

      const loadData = () => {
        $.ajax({
          url: API_URL,
          headers: { token: token },
          method: 'GET',
          success: function(result) {
            listData(result);
          }
        });
      };

      const findData = () => {
        const title = $('#find-title').val();

        if (title) {
          $.ajax({
            url: `${API_URL}/search`,
            headers: { token: token },
            method: 'POST',
            data: { title },
            success: function(result) {
              listData(result);
            }
          });
        } else {
          loadData();
        }
      };

      const saveData = () => {
        const id = $('#_id').val();
        const title = $('#title').val();
        const latitude = parseFloat($('#latitude').val());
        const longitude = parseFloat($('#longitude').val());

        if (!id) {
          $.ajax({
            url: API_URL,
            headers: { token: token },
            method: 'POST',
            data: { title, lat: latitude, lng: longitude },
            success: function() {
              loadData();
            }
          });
        } else {
          $.ajax({
            url: `${API_URL}/${id}`,
            headers: { token: token },
            method: 'PUT',
            data: { title, lat: latitude, lng: longitude },
            success: function() {
              loadData();
            }
          });
        }

        loadData();
        $('#_id').val('');
        $('#title').val('');
        $('#latitude').val('');
        $('#longitude').val('');
      };

      const deleteData = id => {
        $.ajax({
          url: `${API_URL}/${id}`,
          headers: { token: token },
          method: 'DELETE',
          success: function() {
            loadData();
          }
        });
      };

      const editData = (id, title, latitude, longitude) => {
        $('#_id').val(id);
        $('#title').val(title);
        $('#latitude').val(latitude);
        $('#longitude').val(longitude);

        if ($('#show-add').is(':hidden')) {
          $('#show-add').toggle();
        } else {
          $('#show-add').show();
        }
      };

      $(document).ready(() => {
        loadData();

        $('#show-add').hide();

        $('#button-add').click(() => {
          $('#show-add').toggle();
        });

        $('#add-data').click(() => {
          saveData();
          $('#show-add').hide();
        });

        $('#find-title').keyup(() => {
          findData();
        });

        $('#table-data tbody').on('click', '.edit-button', e => {
          const id = $(e.target).attr('data-id');
          const title = $(e.target).attr('data-title');
          const latitude = $(e.target).attr('data-latitude');
          const longitude = $(e.target).attr('data-longitude');
          editData(id, title, latitude, longitude);
        });

        $('#table-data tbody').on('click', '.delete-button', e => {
          const del = confirm('Are you sure?');
          if (del) {
            const id = $(e.target).attr('data-id');
            deleteData(id);
          }
        });
      });
    </script>
  </body>
</html>
