<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container" style="padding-top: 20px; max-width: 50%;">
      <div class="card text-center">
        <div class="card-header">
          <div class="row">
            <div class="col-sm">
              <a
                href="/login"
                style="
                  color:inherit;
                  text-decoration: none; 
                  font-size: 1.5rem;
                "
              >
                Login
              </a>
            </div>
            <div class="col-sm">
              <a
                href="/register"
                style="
                  color: mediumseagreen;
                  text-decoration: none; 
                  font-size: 1.5rem;
                "
              >
                Register
              </a>
            </div>
          </div>
        </div>
        <div class="container" style="max-width: 80%;">
          <div class="card-body">
            <% if (messages[0]) { %>
            <div class="alert alert-danger" role="alert">
              <%= messages %>
            </div>
            <% } %>
            <form action="/register" method="POST">
              <div class="form-group" style="text-align: left;">
                <label for="exampleInputEmail1">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter email"
                />
                <small id="emailHelp" class="form-text text-muted"
                  >We'll never share your email with anyone else.</small
                >
              </div>
              <div class="form-group" style="text-align: left;">
                <label for="exampleInputPassword1">Password</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="exampleInputPassword1"
                  placeholder="Password"
                />
              </div>
              <div class="form-group" style="text-align: left;">
                <label for="exampleInputPassword1">Retype Password</label>
                <input
                  type="password"
                  class="form-control"
                  name="retypepassword"
                  id="exampleInputPassword1"
                  placeholder="Retype Password"
                />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
